body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(10, 10, 10);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    
    padding: 10px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(54, 48, 48);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:rgb(7, 0, 3) ;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(85, 84, 84);
}
button:active{
     background-color: rgb(85, 84, 84);
}





.operator-btn{
    background-color: rgb(234, 172, 58);
}
.operator-btn:hover{
    background-color: rgb(146, 94, 4);
}
.operator-btn:active{
    background-color: rgb(234, 172, 58);
}